<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/done_logo.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Project Done!
        </a>
    </div>
</nav>