<footer id="footer">
    <div>
        <p class="copyright">madmap.uk © 2023 - All Rights Reserved</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<!-- JavaScript Script -->

</body>

</html>