<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DONE!</title>
    <link rel="icon" href="favicon.ico">

    <!-- Google Fonts -->

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap Scripts -->

    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/5a85ac7bef.js" crossorigin="anonymous"></script>


</head>

<body>